<div class="fuzzy-support">
    <div ng-if="$ctrl.models">
        <select ng-options="input as input.label for input in $ctrl.models track by input.label" ng-model="$ctrl.selectedModel"></select>
        <fuzzy-panel fuzzy-model="$ctrl.selectedModel.value" on-fuzzy-click="$ctrl.showClick(fuzzyFn, index)"></fuzzy-panel>
    </div>
    <textarea ng-bind="$ctrl.log" style="width:100%" rows="10" readonly></textarea>
</div>
