<div class="show-fuzzy-distribution">
    <div class="fuzzy-dist-section-indicator fuzzy-gap-indicator" ng-style="{ 'width': $ctrl.leftGapWidth + '%' }"></div>
    <div class="fuzzy-dist-section-indicator fuzzy-area-indicator" ng-style="{ 'width': $ctrl.leftFuzzyWidth + '%' }"></div>
    <div class="fuzzy-dist-section-indicator core-area-indicator" ng-style="{ 'width': $ctrl.coreAreaWidth + '%' }">
        {{$ctrl.membershipFn.name}}
    </div>
    <div class="fuzzy-dist-section-indicator fuzzy-area-indicator" ng-style="{ 'width': $ctrl.rightFuzzyWidth + '%' }"></div>
    <div class="fuzzy-dist-section-indicator fuzzy-gap-indicator" ng-style="{ 'width': $ctrl.rightGapWidth + '%' }"></div>
</div>