.show-fuzzy-distribution {
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.fuzzy-dist-section-indicator {
    height: 30px;
    float: left;
}

.fuzzy-gap-indicator {
    background-color: gray;
}

.fuzzy-area-indicator {
    background-color: orange;
}

.core-area-indicator {
    background-color: red;
    color: white;
    text-align: center;
}
