<div class="fuzzy-panel" ng-switch="$ctrl.fuzzyError">
    <div ng-switch-default>The input is not valid</div>
    <div ng-switch-when="null">
        <show-fuzzy-distribution ng-repeat="membershipFn in $ctrl.fuzzyModel" ng-click="$ctrl.reportClick($index)" membership-fn="::membershipFn" range-min="::$ctrl.minRange" range-size="::$ctrl.rangeSize">
        </show-fuzzy-distribution>
    </div>
</div>